/bin/
/.dns_changes_confirmed
/gathered/
/ignition-overrides/bootstrap-in-place-for-live-iso.ign
/ignition-overrides/complete-installation.sh
/ign-root/
/install-config.yaml
/installer/
/*.iso
/log-bundle*
/net.xml
/nohup.out
/.openshift_install.log
/.openshift_install_state.json
/registry-config.json
/sno-workdir
/workdir-*
/ssh-key/
/.idea/
/terraform/*/.terraform/
/terraform/*/vsphere-vars.tf
/terraform/*/.terraform*lock*
/terraform/*/terraform.tfstate*
