/install-config.yaml
/*.iso
/net.xml
/gathered/
/sno-workdir
/nohup.out
/installer/
/log-bundle*
/.openshift_install.log
/.openshift_install_state.json
/ssh-key/
/ignition-overrides/bootstrap-in-place-for-live-iso.ign
/ignition-overrides/complete-installation.sh
/.dns_changes_confirmed
/bin/
