apiVersion: v1
baseDomain: redhat.com
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 1
metadata:
  creationTimestamp: null
  name: test-cluster
networking:
  clusterNetwork:
  - cidr: CLUSTER_NETWORK
    hostPrefix: 23
  machineNetwork:
  - cidr: MACHINE_NETWORK
  networkType: OVNKubernetes
  serviceNetwork:
  - CLUSTER_SVC_NETWORK
platform:
  none: {}
BootstrapInPlace:
  InstallationDisk: INSTALLATION_DISK
publish: External
pullSecret: |
        YOUR_PULL_SECRET
sshKey: |
        YOUR_SSH_KEY

