#!/usr/bin/env bash

# This script is called by the complete-installation.service
# It will complete the installation by executing coreos-installer and reboot the node
# Make sure to

echo "Waiting for /opt/openshift/master.ign"
until ls /opt/openshift/master.ign; do
  sleep 5
done
# Write image + ignition to disk
echo "Executing coreos-installer with the following options: install -i /opt/openshift/master.ign  REPLACE_INSTALLATION_DISK"
coreos-installer install -i /opt/openshift/master.ign REPLACE_INSTALLATION_DISK

echo "Going to reboot"
shutdown -r +1 "Bootstrap completed, server is going to reboot."
echo "Done"